In [2]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
        offset = offset - 1
    elif offset < 0 :
        offset = offset + 1
    else : 
        print('invalid value')    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [4]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for x in areas :
    print(x)
    
for i, a in enumerate(areas) :
    print('room ' + str(i) + ": " + str(a))

11.25
18.0
20.0
10.75
9.5
room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [5]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for room in house :
    print('the ' + room[0] + ' is ' + str(room[1]) + ' sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [6]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x, y in europe.items() :
    print('the capital of ' + x + ' is ' + y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [13]:
# Definition of 2D numpy array
import numpy as np
my_family = np.array([["Dad", 49, "M"], ["Mom", 48, "F"], ["Adam", 25, "M"]])

# iterate 1D numpy array
for f1 in my_family :
    print(f1)
    
# iterate 2D numpy array
for f2 in np.nditer(my_family) :
    print(f2, end=';')

['Dad' '49' 'M']
['Mom' '48' 'F']
['Adam' '25' 'M']
Dad;49;M;Mom;48;F;Adam;25;M;

In [20]:
# Create Pandas DataFrame
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars
print(cars)
print(".............................")

# Iterate over rows of cars
for i, d in cars.iterrows() :
    print(i)
    print(d)
print(".............................")

# Iterate over rows of cars
for i, d in cars.iterrows() :
    print(i + ': ' + str(d['cars_per_cap']))
print(".............................")
    
# Code for loop that adds COUNTRY column
for i, d in cars.iterrows() :
    cars.loc[i, "COUNTRY"] = d['country'].upper()
print(cars)
print(".............................")

# Instead of loop, use "apply" to add a new column to the DataFrame
cars["COUNTRY2"] = cars["country"].apply(str.upper)
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
.............................
US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object
JPN
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object
RU
country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object
EG
country         Egypt
drives_right     True
cars_per_cap       45
Name: EG, dtype: object
.............................
US: 809
AUS: 731
JPN: 588
IN: 18
RU: 200
MOR: 70
EG: 45
.............................
           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JPN          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT
.............................
           country  drives_right  cars_per_cap        COUNTRY       COUNTRY2
US   United States          True           809  UNITED STATES  UNITED STATES
AUS      Australia         False           731      AUSTRALIA      AUSTRALIA
JPN          Japan         False           588          JAPAN          JAPAN
IN           India         False            18          INDIA          INDIA
RU          Russia          True           200         RUSSIA         RUSSIA
MOR        Morocco          True            70        MOROCCO        MOROCCO
EG           Egypt          True            45          EGYPT          EGYPT