# Chapter 1

In [23]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
ride_sharing = pd.read_csv('ride_sharing_new.csv')
# Convert tire_sizes to category
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')
# ride_sharing['ride_date'] = ride_sharing['ride_date'].astype('datetime64[ns]')

In [3]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25764 entries, 0 to 25763
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          25764 non-null  int64
 1   duration         25764 non-null  object
 2   station_A_id     25764 non-null  int64
 3   station_A_name   25764 non-null  object
 4   station_B_id     25764 non-null  int64
 5   station_B_name   25764 non-null  object
 6   bike_id          25764 non-null  int64
 7   user_type        25764 non-null  int64
 8   user_birth_year  25764 non-null  int64
 9   user_gender      25764 non-null  object
 10  tire_sizes       25764 non-null  category
 11  ride_date        25764 non-null  object
dtypes: category(1), int64(6), object(5)
memory usage: 2.2+ MB
None
count    25764.000000
mean         2.008384
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64
count     25764
unique        3
top           2
freq      12974
Name: user_type_cat, dtype: int64

In [4]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25759  11 minutes           11              11
25760  10 minutes           10              10
25761  14 minutes           14              14
25762  14 minutes           14              14
25763  29 minutes           29              29

[25764 rows x 3 columns]
11.388487812451483

In [5]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count     25764
unique        2
top          27
freq      19477
Name: tire_sizes, dtype: int64

In [6]:
# Convert ride_date to datetime
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date'])

# Save today's date
today = pd.to_datetime(dt.date.today())

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2022-02-17 00:00:00

In [7]:
# Find duplicates
duplicates = ride_sharing.duplicated('ride_id', keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

    ride_id    duration  user_birth_year
33       33   2 minutes             1979
34       33  16 minutes             1979
56       55  11 minutes             1985
57       55  11 minutes             1985
73       71  11 minutes             1997
74       71  11 minutes             1997
92       89   9 minutes             1986
93       89   9 minutes             2060

In [9]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration_time': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

In [10]:
print(ride_unique.head(50))

    ride_id  user_birth_year  duration_time
0         0             1959           12.0
1         1             1965           24.0
2         2             1993            8.0
3         3             1979            4.0
4         4             1994           11.0
5         5             1979           10.0
6         6             1981           16.0
7         7             1991            9.0
8         8             1982           21.0
9         9             1994            5.0
10       10             1983           19.0
11       11             1990            6.0
12       12             1998            7.0
13       13             1987          187.0
14       14             1997           13.0
15       15             1995            4.0
16       16             1990           32.0
17       17             1964            5.0
18       18             2000           16.0
19       19             2000           17.0
20       20             1998           16.0
21       21             1986           11.0
22       22             1982           10.0
23       23             1992            3.0
24       24             1980           11.0
25       25             1990            3.0
26       26             1994           12.0
27       27             1977            7.0
28       28             1990            5.0
29       29             1990            6.0
30       30             1988            6.0
31       31             1990            9.0
32       32             1980           10.0
33       33             1979            9.0
34       34             1994           11.0
35       35             1988           11.0
36       36             1990            4.0
37       37             1989            5.0
38       38             1966            6.0
39       39             1986            7.0
40       40             1988            4.0
41       41             1967           12.0
42       42             1977            3.0
43       43             1977            3.0
44       44             1996            2.0
45       45             1990            1.0
46       46             1989            7.0
47       47             1994            8.0
48       48             1973           15.0
49       49             1991            9.0

# Chapter 2

In [35]:
airlines = pd.read_csv('airlines_final.csv')
categories = pd.read_csv('airline_categories.csv')

In [36]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Unacceptable' 'Somewhat clean' 'Somewhat dirty'
 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [37]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

    Unnamed: 0    id        day           airline  destination  dest_region  \
4            4  2992  Wednesday          AMERICAN        MIAMI      East US
17          18  2913     Friday  TURKISH AIRLINES     ISTANBUL  Middle East
89         100  2321  Wednesday         SOUTHWEST  LOS ANGELES      West US

   dest_size boarding_area   dept_time  wait_min   cleanliness         safety  \
4        Hub   Gates 50-59  12/31/2018       559  Unacceptable      Very safe
17       Hub  Gates 91-102  12/31/2018       225  Unacceptable      Very safe
89       Hub   Gates 20-39  12/31/2018       130  Unacceptable  Somewhat safe

          satisfaction     full_name  \
4   Somewhat satsified  Michael Ward
17  Somewhat satsified  Michael Ward
89  Somewhat satsified  Michael Ward

                                      survey_response
4                                     It was terrible
17                                          Not a fan
89  The food in the airport was really really expe...

In [38]:
print(airlines[~cat_clean_rows])

      Unnamed: 0    id       day        airline        destination  \
0              0  1351   Tuesday    UNITED INTL             KANSAI
1              1   373    Friday         ALASKA  SAN JOSE DEL CABO
2              2  2820  Thursday          DELTA        LOS ANGELES
3              3  1157   Tuesday      SOUTHWEST        LOS ANGELES
5              5   634  Thursday         ALASKA             NEWARK
...          ...   ...       ...            ...                ...
2472        2804  1475   Tuesday         ALASKA       NEW YORK-JFK
2473        2805  2222  Thursday      SOUTHWEST            PHOENIX
2474        2806  2684    Friday         UNITED            ORLANDO
2475        2807  2549   Tuesday        JETBLUE         LONG BEACH
2476        2808  2162  Saturday  CHINA EASTERN            QINGDAO

        dest_region dest_size boarding_area   dept_time  wait_min  \
0              Asia       Hub  Gates 91-102  12/31/2018       115
1     Canada/Mexico     Small   Gates 50-59  12/31/2018       135
2           West US       Hub   Gates 40-48  12/31/2018        70
3           West US       Hub   Gates 20-39  12/31/2018       190
5           East US       Hub   Gates 50-59  12/31/2018       140
...             ...       ...           ...         ...       ...
2472        East US       Hub   Gates 50-59  12/31/2018       280
2473        West US       Hub   Gates 20-39  12/31/2018       165
2474        East US       Hub   Gates 70-90  12/31/2018        92
2475        West US     Small    Gates 1-12  12/31/2018        95
2476           Asia     Large    Gates 1-12  12/31/2018       220

         cleanliness         safety        satisfaction         full_name  \
0              Clean        Neutral      Very satisfied      Michael Ward
1              Clean      Very safe      Very satisfied  Dr. Michael Ward
2            Average  Somewhat safe             Neutral      Michael Ward
3              Clean      Very safe  Somewhat satsified      Michael Ward
5     Somewhat clean      Very safe      Very satisfied      Michael Ward
...              ...            ...                 ...               ...
2472  Somewhat clean        Neutral  Somewhat satsified      Michael Ward
2473           Clean      Very safe      Very satisfied      Michael Ward
2474           Clean      Very safe      Very satisfied      Michael Ward
2475           Clean  Somewhat safe      Very satisfied      Michael Ward
2476           Clean      Very safe  Somewhat satsified      Michael Ward

                                        survey_response
0                                       It was terrible
1                                       It was terrible
2                                       It was terrible
3                                       It was terrible
5                              I didn't like the flight
...                                                 ...
2472  One of the other travelers was really loud and...
2473  One of the other travelers was really loud and...
2474  One of the other travelers was really loud and...
2475  One of the other travelers was really loud and...
2476  One of the other travelers was really loud and...

[2474 rows x 15 columns]

In [39]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [40]:
# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

In [41]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)
print(airlines.head())

   Unnamed: 0    id        day      airline        destination    dest_region  \
0           0  1351    Tuesday  UNITED INTL             KANSAI           asia
1           1   373     Friday       ALASKA  SAN JOSE DEL CABO  canada/mexico
2           2  2820   Thursday        DELTA        LOS ANGELES        west us
3           3  1157    Tuesday    SOUTHWEST        LOS ANGELES        west us
4           4  2992  Wednesday     AMERICAN              MIAMI        east us

  dest_size boarding_area   dept_time  wait_min   cleanliness         safety  \
0       Hub  Gates 91-102  12/31/2018       115         Clean        Neutral
1     Small   Gates 50-59  12/31/2018       135         Clean      Very safe
2       Hub   Gates 40-48  12/31/2018        70       Average  Somewhat safe
3       Hub   Gates 20-39  12/31/2018       190         Clean      Very safe
4       Hub   Gates 50-59  12/31/2018       559  Unacceptable      Very safe

         satisfaction         full_name  survey_response wait_type day_week
0      Very satisfied      Michael Ward  It was terrible    medium  weekday
1      Very satisfied  Dr. Michael Ward  It was terrible    medium  weekday
2             Neutral      Michael Ward  It was terrible    medium  weekday
3  Somewhat satsified      Michael Ward  It was terrible      long  weekday
4  Somewhat satsified      Michael Ward  It was terrible      long  weekday

In [42]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

C:\Users\mkars\AppData\Local\Temp/ipykernel_23428/3304348909.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")
C:\Users\mkars\AppData\Local\Temp/ipykernel_23428/3304348909.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")
C:\Users\mkars\AppData\Local\Temp/ipykernel_23428/3304348909.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

In [45]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

43      The airport personnell forgot to alert us of d...
44      The airport personnell forgot to alert us of d...
45      The airport personnell forgot to alert us of d...
46      The airport personnell forgot to alert us of d...
47      The airport personnell forgot to alert us of d...
                              ...
2472    One of the other travelers was really loud and...
2473    One of the other travelers was really loud and...
2474    One of the other travelers was really loud and...
2475    One of the other travelers was really loud and...
2476    One of the other travelers was really loud and...
Name: survey_response, Length: 2434, dtype: object